<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
</head>
<body>
    <header th:fragment="navbar">
        <nav class="navbar navbar-dark bg-nav navbar-expand-sm">
            <a class="navbar-brand" th:href="@{/}">SHOP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainmenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:text="#{first.nav.item}"></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:text="#{second.nav.item}"></a>
                    </li>
                </ul>
                <ul class="form-inline navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/cart}" th:text="#{cart}"></a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item active">
                        <a class="nav-link" th:href="@{/login}" th:text="#{sign.in}"></a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item active">
                        <form class="form-inline" th:action="@{/logout}" method="post">
                            <button class="btn btn-light" type="submit" th:text="#{logout}"></button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
</body>
</html>