<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
</head>
<body>
    <div th:fragment="product">
        <div class="card-header">
            <h1><a id="productId" th:text="*{name}" th:href="@{'/products/' + ${product.id}}"></a></h1>
            <h3 th:text="*{description}"></h3>
            <h3 th:if="*{rating != null}" th:text="|★ *{rating}|"></h3>
        </div>
        <div th:if="*{oldPrice != null}" class="row card-body">
            <div class="col-md-2 new-price" th:text="|${product.newPrice} #{category.currency}|"></div>
            <div class="col-md-2 old-price" th:text="|${product.oldPrice} #{category.currency}|"></div>
            <div class="col-md-6" th:text="|#{category.available} ${product.quantity}|"></div>
            <form class="col-md-2" method="post" th:action="@{/add-to-cart}">
                <input type="hidden" name="productId" th:value="*{id}">
                <button class="btn btn-success" type="submit" th:text="#{category.add}"></button>
            </form>
        </div>
        <div th:if="*{oldPrice == null}" class="row card-body">
            <div class="col-md-2 new-price" th:text="|${product.newPrice} #{category.currency}|"></div>
            <div class="col-md-8" th:text="|#{category.available} ${product.quantity}|"></div>
            <form class="col-md-2" method="post" th:action="@{/add-to-cart}">
                <input type="hidden" name="productId" th:value="*{id}">
                <button class="btn btn-success" type="submit" th:text="#{category.add}"></button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
</body>
</html>