.bg-nav{
    background-color: #3c3d44 !important;
}
.main-item{
    text-decoration: none;
    color: inherit;
}
.main-item:hover{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
.div-main-mobile{
    background-color: #c5c6d8;
    border-radius: 25px;
}
.div-main-monitor{
    background-color: #9e9faf;
    border-radius: 25px;
}
.div-main-laptop{
    background-color: #7f808c;
    border-radius: 25px;
}
.div-main-gamepad{
    background-color: #c5c6d8;
    border-radius: 25px;
}
.div-main-camera{
    background-color: #9e9faf;
    border-radius: 25px;
}
.div-main-home{
    background-color: #7f808c;
    border-radius: 25px;
}
.div-main-shirt{
    background-color: #c5c6d8;
    border-radius: 25px;
}
.div-main-diamond{
    background-color: #9e9faf;
    border-radius: 25px;
}
.div-main-alphabet{
    background-color: #7f808c;
    border-radius: 25px;
}
.new-price{
    font-weight: bold;
    color: #f25507;
    font-size: 20px;
}
.old-price{
    text-decoration: line-through;
}
/* bs callouts
-------------------------------------------------- */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
