<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{cart.page.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../../static/css/style.css" type="text/css">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}">Navbar</div>

<main>
    <section>
        <div class="container justify-content-center">
            <div th:if="not ${products.isEmpty()}">
                <div class="alert alert-warning" th:if="${productsException}" th:text="${productsException}"></div>
                <div class="card" th:each="product : ${products.entrySet()}">
                    <div class="card-header">
                        <h1><a th:text="${product.getKey().getName()}" th:href="@{'/product/' + ${product.getKey().id}}"></a></h1>
                        <h3 th:text="${product.getKey().getDescription()}"></h3>
                    </div>
                    <div class="row card-body">
                        <div class="col-md-2" th:text="|#{cart.price} ${product.getKey().getNewPrice()}|"></div>
                        <div class="col-md-8" th:text="|#{cart.quantity} ${product.getValue()}|"></div>
                        <form class="col-md-2" method="post" th:action="@{/remove-from-cart}">
                            <input type="hidden" name="productId" th:value="${product.getKey().getId()}">
                            <button type="submit" class="btn btn-primary" th:text="#{cart.remove}"></button>
                        </form>
                    </div>
                </div>
                <div class="row card-body">
                    <h2 class="col-md-10" th:text="|#{cart.total} ${total}|"></h2>
                    <a th:href="@{/cart/shopping-details}" class="col-md-2">
                        <button type="button" class="btn btn-primary" th:text="#{cart.next.step}"></button>
                    </a>
                </div>
            </div>

            <div th:if="${products.isEmpty()}">
                <div class="row justify-content-center my-2">
                    <h1 th:text="#{cart.empty}"></h1>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
</body>
</html>