<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{category.page.title}"></title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/fontello/css/fontello.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}">Navbar</div>
    <main>
        <section>
            <div class="container justify-content-center">
                <div th:if="not ${productList.isEmpty()}">
                    <div class="card" th:each="product: ${productList}" th:object="${product}">
                        <div th:replace="~{fragments/product :: product}"></div>
                    </div>
                    <div class="row" th:text="|#{category.page.info} ${currentPage} / ${totalPages}|"></div>
                    <div class="row" th:if="${currentPage}>1" th:with="prev=(${currentPage}-1)">
                        <a th:href="@{'/products/'+${category}+'?page='+${prev}+'&size='+${size}}"
                           th:text="#{category.prev.page}"
                           class="btn btn-primary btn-sm my-1 active" role="button" aria-pressed="true"></a>
                    </div>
                    <div class="row" th:if="${currentPage}<${totalPages}" th:with="next=(${currentPage}+1)">
                        <a th:href="@{'/products/'+${category}+'?page='+${next}+'&size='+${size}}"
                           th:text="#{category.next.page}"
                           class="btn btn-primary btn-sm my-1 active" role="button" aria-pressed="true"></a>
                    </div>
                </div>
                <div class="row justify-content-center" th:if="${productList.isEmpty()}">
                    <h1 class="font-weight-bold mt-3" th:text="#{product.not.available}"></h1>
                </div>
            </div>
        </section>
    </main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
</body>
</html>