<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{main.page.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/fontello/css/fontello.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}">Navbar</div>
    <main>
        <section>
            <div class="container">
                <div class="row pt-3 justify-content-around">
                    <a th:href="@{'/products/smartphones?page=1&size=10'}" class="col-sm-3 pt-3 div-main-mobile main-item">
                        <figure class="text-center">
                            <i class="icon-mobile"></i>
                            <figcaption th:text="#{figcaption.mobile}"></figcaption>
                        </figure>
                    </a>
                    <a th:href="@{'/products/tv?page=1&size=10'}" class="col-sm-3 pt-3 div-main-monitor main-item">
                        <figure class="text-center">
                            <i class="icon-monitor"></i>
                            <figcaption th:text="#{figcaption.monitor}"></figcaption>
                        </figure>
                    </a>
                    <a th:href="@{'/products/laptops?page=1&size=10'}" class="col-sm-3 pt-3 div-main-laptop main-item">
                        <figure class="text-center">
                            <i class="icon-laptop"></i>
                            <figcaption th:text="#{figcaption.laptop}"></figcaption>
                        </figure>
                    </a>
                </div>
                <div class="row pt-3 justify-content-around">
                    <a th:href="@{'/products/consoles?page=1&size=10'}" class="col-sm-3 pt-3 div-main-gamepad main-item">
                        <figure class="text-center">
                            <i class="icon-gamepad"></i>
                            <figcaption th:text="#{figcaption.gamepad}"></figcaption>
                        </figure>
                    </a>
                    <a th:href="@{'/products/cameras?page=1&size=10'}" class="col-sm-3 pt-3 div-main-camera main-item">
                        <figure class="text-center">
                        <i class="icon-camera"></i>
                            <figcaption th:text="#{figcaption.camera}"></figcaption>
                        </figure>
                    </a>
                    <a th:href="@{'/products/households?page=1&size=10'}" class="col-sm-3 pt-3 div-main-home main-item">
                        <figure class="text-center">
                            <i class="icon-home-outline"></i>
                            <figcaption th:text="#{figcaption.home}"></figcaption>
                        </figure>
                    </a>
                </div>
                <div class="row pt-3 justify-content-around">
                    <a th:href="@{'/products/clothes?page=1&size=10'}" class="col-sm-3 pt-3 div-main-shirt main-item">
                        <figure class="text-center">
                            <i class="icon-t-shirt"></i>
                            <figcaption th:text="#{figcaption.shirt}"></figcaption>
                        </figure>
                    </a>
                    <a th:href="@{'/products/jewelery?page=1&size=10'}" class="col-sm-3 pt-3 div-main-diamond main-item">
                        <figure class="text-center">
                            <i class="icon-diamond"></i>
                            <figcaption th:text="#{figcaption.diamond}"></figcaption>
                        </figure>
                    </a>
                    <a th:href="@{'/products/others?page=1&size=10'}" class="col-sm-3 pt-3 div-main-alphabet main-item">
                        <figure class="text-center">
                            <i class="icon-sort-alphabet-outline"></i>
                            <figcaption th:text="#{figcaption.alphabet}"></figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
</body>
</html>