<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{sign.in}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../../static/css/style.css" type="text/css">
</head>
<body>
    <main>
        <section>
            <div class="container col-md-6 offset-md-3 my-5">
                <div class="row justify-content-center my-2">
                    <h1 th:text="#{greeting}"></h1>
                </div>
                <form name="form" th:action="@{/processlogin}" method="post">
                    <div class="form-row">
                        <div class="col-md-6 offset-md-3 mb-3">
                            <div th:if="${param.error}" class="alert alert-warning" th:text="#{error.credentials}"></div>
                        </div>
                        <div class="col-md-6 offset-md-3 mb-3">
                            <label for="addressEmail" th:text="#{address.email}"></label>
                            <input id="addressEmail" class="form-control" name="username" type="email" th:placeholder="#{address.email.input}" required>
                        </div>
                        <div class="col-md-6 offset-md-3 mb-3">
                            <label for="passwordLogin" th:text="#{password}"></label>
                            <input id="passwordLogin" class="form-control" name="password" type="password" th:placeholder="#{password.input}" required>
                        </div>

                        <div class="col-md-6 offset-md-3">
                            <button class="btn btn-info my-3" type="submit" th:text="#{sign.in}"></button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
</body>
</html>