<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}"></title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}">Navbar</div>
    <main>
        <section>
            <div class="container">
                <div class="card" th:object="${product}">
                    <div th:replace="~{fragments/product :: product}"></div>
                    <div class="card-body" sec:authorize="isAuthenticated()">
                        <h3 th:text="#{product.vote}"></h3>
                        <form method="post" th:action="@{'/products/'+${product.id}+'/vote'}">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="radio1" name="voteValue" value="1">
                                <label class="form-check-label" for="radio1">1</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="radio2" name="voteValue" value="2">
                                <label class="form-check-label" for="radio2">2</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="radio3" name="voteValue" value="3">
                                <label class="form-check-label" for="radio3">3</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="radio4" name="voteValue" value="4">
                                <label class="form-check-label" for="radio4">4</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="radio5" name="voteValue" value="5">
                                <label class="form-check-label" for="radio5">5</label>
                            </div>
                            <button class="btn btn-primary my-2" type="submit" th:text="#{product.send}"></button>
                        </form>
                    </div>
                    <div class="card-header" id="headingComment">
                        <button class="btn btn-outline-secondary"
                                data-toggle="collapse" data-target="#collapseComment"
                                aria-expanded="false" aria-controls="collapseComment"
                                th:text="#{product.comments}"></button>
                    </div>
                    <div id="collapseComment" class="collapse" aria-labelledby="headingComment">
                        <div class="card-body">
                            <div class="row bs-callout bs-callout-default" th:each="opinion: ${commentsList}" th:object="${opinion}">
                                <div class="col-md-2 font-weight-bold text-primary" th:text="*{user.username}"></div>
                                <div class="col-md-8" th:text="*{text}"></div>
                                <div class="col-md-2" th:text="*{#dates.format(timestamp, 'dd-MM-yyyy')}"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div sec:authorize="isAuthenticated()">
                    <form method="post" th:action="@{'/products/'+${product.id}+'/comment'}" th:object="${comment}">
                        <div th:errors="*{text}" class="alert alert-warning"></div>
                        <div class="form-group">
                            <label for="comment" th:text="#{product.write.comment}"></label>
                            <textarea class="form-control" id="comment" rows="3" th:field="*{text}"></textarea>
                            <button class="btn btn-primary my-2" type="submit" th:text="#{product.add.comment}"></button>
                        </div>
                    </form>
                </div>

            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{js/removeLink.js}"></script>
</body>
</html>