<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{register.page.title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../../static/css/style.css" type="text/css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <main>
        <section>
            <div class="container justify-content-center mt-1">
                <div class="row justify-content-center my-2">
                    <h1 th:text="#{sign.up.header}"></h1>
                </div>
                <form th:action="@{/register}" method="post" th:object="${user}">
                    <div class="form-row">
                        <div class="col-md-4 offset-md-4 mb-2">
                            <div th:errors="*{username}" class="alert alert-warning"></div>
                            <label for="usernameRegister" th:text="#{username}" class="mt-1"></label>
                            <input id="usernameRegister" class="form-control" th:field="*{username}" type="text" placeholder="Mr. Robot">
                        </div>

                        <div class="col-md-4 offset-md-4 mb-2">
                            <div th:errors="*{email}" class="alert alert-warning"></div>
                            <label for="emailRegister" th:text="#{address.email}"></label>
                            <input id="emailRegister" class="form-control" th:field="*{email}" type="email" placeholder="elliotalderson@protonmail.ch">
                        </div>

                        <div class="col-md-4 offset-md-4 mb-2">
                            <div th:errors="*{password}" class="alert alert-warning"></div>
                            <label for="passwordRegister" th:text="#{password}"></label>
                            <input id="passwordRegister" class="form-control" th:field="*{password}" type="password" th:placeholder="#{password.input}">
                        </div>

                        <div class="col-md-4 offset-md-4 mb-2">
                            <div th:errors="*{confirmPassword}" class="alert alert-warning"></div>
                            <label for="confirmPassword" th:text="#{password.confirm}"></label>
                            <input id="confirmPassword" class="form-control" th:field="*{confirmPassword}" type="password" th:placeholder="#{password.confirm.input}">
                        </div>

                        <div class="col-md-4 offset-md-4 mb-2">
                            <div th:errors="${user}" class="alert alert-warning"></div>
                            <div class="g-recaptcha mt-1" th:attr="data-sitekey=${@captchaSettings.getSite()}"></div>
                        </div>

                        <div class="col-md-4 offset-md-4">
                            <button class="btn btn-success" type="submit" th:text="#{sign.up}"></button>
                        </div>
                    </div>
                </form>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
</body>
</html>