<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{shopping.details.title}"></title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{css/fontello/css/fontello.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/style.css}" type="text/css">
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}">Navbar</div>
    <main>
        <section>
            <div class="container">
                <form method="post" th:action="@{/cart/check-shopping-details}" th:object="${order}">
                    <div class="form-row mt-3">
                        <div class="col-md-4 mb-3">
                            <div th:errors="*{customerFirstName}" class="alert alert-warning"></div>
                            <label for="customerFirstName" th:text="#{shopping.details.firstname}"></label>
                            <input class="form-control" id="customerFirstName" th:field="*{customerFirstName}">
                        </div>

                        <div class="col-md-4 mb-3">
                            <div th:errors="*{customerLastName}" class="alert alert-warning"></div>
                            <label for="customerLastName" th:text="#{shopping.details.lastname}"></label>
                            <input class="form-control" id="customerLastName" th:field="*{customerLastName}">
                        </div>

                        <div class="col-md-4 mb-3">
                            <div th:errors="*{customerCountry}" class="alert alert-warning"></div>
                            <label for="customerCountry" th:text="#{shopping.details.country}"></label>
                            <input class="form-control" id="customerCountry" th:field="*{customerCountry}">
                        </div>

                        <div class="col-md-4 mb-3">
                            <div th:errors="*{customerCity}" class="alert alert-warning"></div>
                            <label for="customerCity" th:text="#{shopping.details.city}"></label>
                            <input class="form-control" id="customerCity" th:field="*{customerCity}">
                        </div>

                        <div class="col-md-4 mb-3">
                            <div th:errors="*{customerStreet}" class="alert alert-warning"></div>
                            <label for="customerStreet" th:text="#{shopping.details.street}"></label>
                            <input class="form-control" id="customerStreet" th:field="*{customerStreet}">
                        </div>

                        <div class="col-md-4 mb-3">
                            <div th:errors="*{customerPostalCode}" class="alert alert-warning"></div>
                            <label for="customerPostalCode" th:text="#{shopping.details.postalcode}"></label>
                            <input class="form-control" id="customerPostalCode" th:field="*{customerPostalCode}">
                        </div>

                        <button class="btn btn-success my-2" type="submit" th:text="#{shopping.details.order}"></button>
                    </div>
                </form>
            </div>
        </section>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script th:src="@{js/bootstrap/bootstrap.min.js}"></script>
</body>
</html>