
.icon-monitor:before { content: '\e800'; } /* '' */
.icon-mobile:before { content: '\e801'; } /* '' */
.icon-home-outline:before { content: '\e803'; } /* '' */
.icon-t-shirt:before { content: '\e804'; } /* '' */
.icon-diamond:before { content: '\e805'; } /* '' */
.icon-camera:before { content: '\e806'; } /* '' */
.icon-sort-alphabet-outline:before { content: '\e807'; } /* '' */
.icon-basket:before { content: '\e808'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */